<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <title>Keycloak</title>
  </head>
  <body style="padding-top: 5rem">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login-mobile">Login (PKCE)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exchangeToken">Fetch Token</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Clear</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container-fluid">
      <div
        class="starter-template"
        style="padding: 3rem 1.5rem; text-align: center"
      >
        <h1>OAuth 2.0 Authorization Code with PKCE</h1>
        <div class="table-responsive">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>PKCE Verifier</td>
                <td>{{.Verifier}}</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>PKCE Challenge</td>
                <td>{{.Challenge}}</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Auth. code</td>
                <td>{{.AuthCode}}</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Secure Cookie</td>
                <td>{{.Cookie}}</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                 <td>Access Token</td>
                <td style="word-break: break-all">{{.AccessToken}}</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Refresh Token</td>
                <td style="word-break: break-all">{{.RefreshToken}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <!-- /.container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
